<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diego.andamentoprocessualtjmg">

    <!-- adicionado por causa do download -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Andamento Processual TJMG"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".ACTIVITYS.SplashScreenActivity"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ACTIVITYS.IndexActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ACTIVITYS.NumeroProcessoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ACTIVITYS.ListaProcessosActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ACTIVITYS.ClienteActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ACTIVITYS.ConsultaClienteActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ACTIVITYS.WebViewActivity"
            android:theme="@style/AppTheme" />


    </application>

</manifest>